@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-weight: normal;
  font-family: "proxima_novasemibold";
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background: #fff;
}

.row.customRow {
  margin: 5px;
  height: auto;
  position: relative;
}

.admin_side_bar {
  width: 20%;
  position: fixed;
  top: 0%;
  left: 0%;
}

.admin_header {
  margin-left: 265px;
  position: fixed;
  top: 0%;
  background-color: teal;
  width: 1080px;
  z-index: 1;
}

.main_body {
  width: 1070px;
  margin-left: 275px;
  background-color: #fff;
  margin-top: 55px;
}

.side_bar_images img {
  width: 100%;
  height: 80px;
}

.side_menu {
  position: relative;
  margin: 20px;
  height: 50px;
}

.side_menu a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  transition: all 0.4s;
  position: absolute;
  top: 25%;
}

.side_menu a:hover {
  color: blue;
  border-bottom: 2px ridge green;
}

.side_menu a:hover::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: red;
  top: 50%;
  left: 100%;
}

.admin_head_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 5px 5px 5px;
  width: 30%;
}

.admin_info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.admin_info h2 {
  font-size: 15px;
  color: #fff;
  padding: 5px;
  margin-bottom: 0;
}

.amdin_header_block h4 {
  margin-bottom: 0;
  padding: 5px;
  color: #fff;
  font-size: 20px;
}

/**Footer page CSS code start from here**/
.footer_section {
  background-color: black;
  border-radius: 4px;
}

.footer_title {
  position: relative;
  width: 50%;
  margin: 0 auto;
  padding: 10px 12px 10px;
  height: auto;
}

.footer_title h2 {
  text-align: center;
  color: #fff;
  padding: 8px 10px 8px;
}

.footer_title p {
  padding: 8px 10px 8px;
  text-align: center;
  color: #fff;
  font-size: 14px;
}
/**Footer page CSS code start from here**/

/**Doctor page CSS code start from here**/

.doctor_form {
  padding: 10px 12px 10px;
  box-shadow: 0 0 2px rgb(0, 0, 0.1);
  width: 50%;
  position: relative;
  height: auto;
}

.doctor_form input[type="text"],
input[type="file"],
input[type="email"],
select {
  padding: 6px 8px 6px;
  width: 95%;
}

.form_tile {
  position: relative;
}

.form_tile h4 {
  text-align: center;
  padding: 10px 12px 10px;
}

.form_tile h2 {
  text-align: center;
  padding: 10px 12px 10px;
  font-size: 20px;
}

.form_tile h4::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 30%;
  width: 200px;
  height: 2px;
  border-top-left-radius: 4px;
  background-color: blue;
}

.form_tile h2::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 44%;
  width: 130px;
  height: 2px;
  border-top-left-radius: 4px;
  background-color: blue;
}

.add_doctor button {
  border: none;
  border-radius: 4px;
  padding: 8px;
  background-color: darkblue;
  color: #fff;
}

.doctor_form label {
  padding: 4px 6px 4px;
}

.doctor_form input[type="submit"] {
  border: none;
  border-radius: 4px;
  padding: 8px;
  background-color: darkblue;
  color: #fff;
  width: 100px;
  margin: 5px 5px 5px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

/**Doctor page CSS code end from here**/
